{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card p-4 shadow-sm">

        <h3 class="text-danger">⚠ Confirmar eliminación</h3>
        <hr>

        <p>
            ¿Estás seguro que deseas eliminar la ruta:
        </p>

        <p>
            <strong>
                {{ ruta.origen }} → {{ ruta.destino }} ({{ ruta.hora_salida }})
            </strong>
        </p>

        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">
                Sí, eliminar
            </button>

            <a href="{% url 'recargas_historial' %}" class="btn btn-secondary">
                Cancelar
            </a>
        </form>

    </div>
</div>
{% endblock %}